@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: "Roboto", serif;
  background-color: #121212;
  color: #fff;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: #121212;
  border-bottom: 1px solid #383838;
  z-index: 9999;
}

nav {
  display: flex;
  align-items: center;
  padding: 8px 0 8px 16px;
}

#tab-options {
  display: flex;
  gap: 10px;
  margin-right: 20px;
}

.options {
  width: 36px;
  height: 36px;
  border: none;
  background: none;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 5px;
  transition: background-color 0.2s;
}

.options:hover {
  background-color: #333333;
  border-radius: 4px;
}

#search-top {
  flex-grow: 1;
  display: flex;
  align-items: center;
  background-color: #282828;
  border-radius: 16px;
  padding: 8px;
  margin-right: 10px;
}

#top-search {
  width: 100%;
  border: none;
  background: none;
  color: #fff;
  font-size: 16px;
  padding: 4px 10px;
}

#top-search::placeholder {
  color: #c2c2c2;
}

#top-search:focus {
  outline: none;
}

main {
  align-items: center;
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow: hidden;
}

#title-area {
  display: flex;
  flex-direction: column;
}

.proxylogo {
  width: 640px;
  max-width: 700px;
  height: auto; 
  object-fit: contain;
  text-align: center;
  margin-bottom: 10px;
}

.subtitle {
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
}

.uv-bar {
  width: 1000px;
  height: 70px;
  border-radius: 10px;
  border: none;
  background-color: #282828;
  padding-inline-end: 40px;
  padding-left: 10px;
  position: relative;
  color: #fff;
  font-size: 50px;
}

.uv-bar::placeholder {
  color: #c2c2c2;
  font-size: 50px;
  align-items: center;
  display: flex;
  margin-right: 10px;
}

.uv-bar:focus {
  outline: none;
  border-color: transparent;
}


  
