@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: "Roboto", serif;
  background-color: #121212;
  color: #fff;
}

main {
  align-items: center;
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#title-area {
  display: flex;
  flex-direction: column;
}

.proxylogo {
  width: 640px;
  max-width: 700px;
  height: auto; 
  object-fit: contain;
  text-align: center;
  margin-bottom: 10px;
}

.subtitle {
  text-align: center;
  font-size: 1.3em;
}

.uv-bar {
  width: 1000px;
  height: 70px;
  border-radius: 5px;
  border: none;
  background-color: #282828;
  padding-inline-end: 40px;
  padding-left: 10px;
  position: relative;
  color: #fff;
  font-size: 50px;
}

.uv-bar::placeholder {
  color: #c2c2c2;
  font-size: 50px;
  align-items: center;
  display: flex;
  margin-right: 10px;
}

.uv-bar:focus {
  outline: none;
  border-color: transparent;
}


  
